body
{
/* parametres du site lui même */
    background-color: #000;
    color: #fff;
    font-family: monospace;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}

#terrain
{
/* creation des bords du terrain */
    position: relative;
    border-top : 1px solid white;
    border-bottom : 1px solid white;
    border-left: 3px solid black;
    border-right: 3px solid black;
    width: 800px;
    height: 400px;

}


/* les couleurs quand la balle touche les bords*/
.tiltHaut
{
    border-top-color:  rgb(255, 187, 0) !important;

}

.tiltBas
{
    border-bottom-color: rgb(255, 187, 0) !important;

}

.tiltEchecG
{
    border-left-color: rgb(23, 255, 15) !important;
}

.tiltEchecD
{
    border-right-color: rgb(90, 0, 150) !important;
}

/* #pour une classe*/
#balle
{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
}

/* .pour l'identifiant*/
.raquette
{
    position: absolute;
    --hauteur : 25%;
    top : calc( 50% - var(--hauteur)/2 ); 
    width: 10px;
    height : var(--hauteur);
    background-color: rgb(255, 255, 255);

}
.rtouche{
    background-color: rgb(255, 196, 2);
    filter: blur(4px)
}

/*placements des raquettes*/
#gauche
{

    left: 1%;
}

#droite
{

    right: 1%;
}

/* creation d'un score*/
.score{
    top : 0;
    width: 50%;
    height: 100%;
    position: absolute; 
    display: flex;  
    justify-content: center;
    align-items: center;
}

#J1
{
    color: rgb(149, 0, 248);
    float: left;
}

#J2
{
    left: 50%;
    float: right;
    color: rgb(75, 247, 118);
}
/*ecran de lancement du jeu*/
.ecran-debut{
    transition: all 3s;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}
.ecran-debut>*{
    margin: 10px;
}
/* donne les instructions*/
.ecran-debut .touche{
    display: inline-flex;
    transform: rotate(0deg) !important;
}

.ecran-debut.invisible{
    pointer-events: none;
    opacity: 0;
    filter: blur(16px);
}
